.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
 
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.buttons button{
width: 4rem;
height: 4rem;
border: solid black 1px;
font-size: 2rem;
font-weight: 800;
margin: 3vw;
font-weight: 100;
}

.buttons button:hover{
  width: 4rem;
  height: 4rem;
  border: solid white 1px;
  font-size: 2rem;
  font-weight: 800;
  margin: 3vw;
  font-weight: 100;
  color: white;
  background-color: #1f2125;
  }

#reset{ 
padding: 0.5rem;
border: solid black 1px;
font-size: 1rem;
font-weight: 100;
margin: 3vw;
}

#reset:hover{ 
  padding: 0.5rem;
  border: solid white 1px;
  font-size: 1rem;
  font-weight: 100;
  margin: 3vw;
  color: white;
  background-color: #1f2125;
  }

.App-header h1{
  font-size: 5rem;
  font-weight:200;
  margin: 1rem;
}